body {
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
    border: 3px solid black;
    grid-template-columns: [first];
    grid-template-rows: 100px 100px;
}

.item {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: khaki;
    width: 100%;
}